/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.resed, .benefits__text, .benefits__title, .hero__title, .logo, .soc-contact, .list--block, .list, .client__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.icon-box, .benefits__icon-box, .menu__icon, .soc-contact__link, .soc-contact__link--white, .button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: block;
  text-align: center;
  justify-content: start;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer__container:not(:last-child) {
  margin-bottom: 60px;
}

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 30px;
  margin: 0 auto;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button__icon {
  fill: #ffffff;
}
.button--proj {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--proj:hover, .button--proj:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.client__list {
  display: flex;
  text-align: start;
  gap: 30px;
  flex-wrap: wrap;
}

.title {
  font-size: 28px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.soc-contact {
  display: flex;
  text-align: start;
  gap: 10px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .soc-contact {
    justify-content: start;
  }
}
.soc-contact__link, .soc-contact__link--white {
  width: 44px;
  height: 44px;
  fill: currentColor;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.soc-contact__link--white {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.soc-contact__link:hover, .soc-contact__link--white:hover, .soc-contact__link:focus, .soc-contact__link--white:focus {
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .form-list {
    display: flex;
    gap: 12px;
  }
}
.form-list__input {
  width: 100%;
  padding: 15px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form-list__input {
    margin: 0;
  }
}
.form-list__input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header__container {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: start;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo__item {
  color: #2196f3;
}
.logo__item--black {
  color: #000000;
}
.logo__item--white {
  color: #ffffff;
}

.menu {
  margin-left: auto;
}
.menu__btn {
  border: none;
  padding: 0;
}
.nav {
  display: none;
}

.contact {
  display: none;
}

.footer__contact__item, .footer__contact__item--white {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.footer__contact__item--white {
  color: #ffffff;
}
.footer__contact__item--white:focus, .footer__contact__item--white:hover {
  color: #2196f3;
}
.footer__contact__item:focus, .footer__contact__item--white:focus, .footer__contact__item:hover, .footer__contact__item--white:hover {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 700px;
  }
}

.benefits {
  padding: 60px 0;
}
.benefits__icon-box {
  padding: 25px 190px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.benefits__card:not(:last-child) {
  margin-bottom: 30px;
}

.work {
  display: none;
}

.team {
  background-color: #f5f4fa;
  padding: 60px 0;
}
.team__list-item:not(:last-child) {
  margin-bottom: 30px;
}
.team__photo {
  display: block;
}
.team__card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0;
}
.team__name {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__prof {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.client {
  padding: 60px 0;
}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  color: rgb(175, 177, 184);
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer__title {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */