/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.visually-hidden, .policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 50ms, visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.2);
  pointer-events: none;
}

.resed, .hero__title, .contact__item, .contact, .nav__item, .logo, .soc-contact, .list--wrap, .list--btn-proj, .list--block, .list--nav, .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.icon-box, .benefits__icon-box, .policy__check-icon, .policy__label, .policy, .modal-form__input-icon, .modal__btn, .soc-contact__link, .soc-contact__link--white, .button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: blok;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--footer {
  display: block;
  text-align: start;
}
.container--footer:first-child {
  margin-right: 70px;
}
.container--footer:last-child {
  margin-left: auto;
  width: calc(50% - 30px);
}
.container--footer-flex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: baseline;
}

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 30px;
  margin: 0 auto;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button__icon {
  fill: #ffffff;
}
.button--proj {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--proj:hover, .button--proj:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.list {
  display: flex;
  text-align: start;
  gap: 30px;
}
.list--nav {
  display: flex;
  text-align: start;
  gap: 50px;
}
.list--block {
  display: block;
  text-align: start;
}
.list__card--blok:not(:first-child) {
  margin-top: 9px;
}
.list--btn-proj {
  display: flex;
  text-align: start;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.list--wrap {
  display: flex;
  text-align: start;
  gap: 30px;
  flex-wrap: wrap;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.soc-contact {
  display: flex;
  text-align: start;
  gap: 10px;
}
.soc-contact__link, .soc-contact__link--white {
  width: 44px;
  height: 44px;
  fill: currentColor;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.soc-contact__link--white {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.soc-contact__link:hover, .soc-contact__link--white:hover, .soc-contact__link:focus, .soc-contact__link--white:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px;
  color: #757575;
}
.modal__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
}

.modal-form {
  text-align: center;
}
.modal-form__title {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}
.modal-form__item {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form__input-box {
  position: relative;
  display: flex;
}
.modal-form__input-box:focus-within .modal-form__input-icon {
  fill: #2196f3;
}
.modal-form__input-box:focus-within .modal-form__input {
  outline: 1px solid #2196f3;
}
.modal-form__input {
  display: block;
  width: 100%;
  min-height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.modal-form__input--textarea {
  height: 120px;
  width: 100%;
  padding: 15px;
  resize: none;
  overflow: auto;
  color: #2196f3;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.modal-form__input--textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input--textarea:focus {
  outline: 1px solid #2196f3;
}
.modal-form__input-icon {
  position: absolute;
  top: 25%;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 9px;
  font-size: 14px;
  line-height: 1.71;
}
.policy__checkbox:checked + .policy__check-box {
  border: none;
  background-origin: border-box;
  background-color: #2196f3;
}
.policy__label {
  cursor: pointer;
}
.policy__check-box {
  display: flex;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
}
.policy__check-icon {
  margin: 0%;
  padding: 0%;
  fill: #ffffff;
}
.policy__link {
  color: #2196f3;
}

.form-list {
  display: flex;
  gap: 12px;
}
.form-list__label, .form-list__input {
  width: 100%;
}
.form-list__input {
  padding: 15px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.form-list__input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header__container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: start;
}

.logo {
  display: inline-block;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__item {
  color: #2196f3;
}
.logo__item--black {
  color: #000000;
}
.logo__item--white {
  color: #ffffff;
}

.nav__item {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__item:hover, .nav__item:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item--active {
  text-decoration: none;
  position: relative;
  color: #2196f3;
}
.nav__item--active::after {
  content: " ";
  position: absolute;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: #2196f3;
}

.contact {
  display: flex;
  text-align: start;
  gap: 30px;
  margin-left: auto;
}
.contact__item {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__item:hover, .contact__item:focus {
  color: #2196f3;
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer__contact__item, .footer__contact__item--white {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.footer__contact__item--white {
  color: #ffffff;
}
.footer__contact__item--white:focus, .footer__contact__item--white:hover {
  color: #2196f3;
}
.footer__contact__item:focus, .footer__contact__item--white:focus, .footer__contact__item:hover, .footer__contact__item--white:hover {
  color: #2196f3;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefits {
  padding: 94px 0;
}
.benefits__icon-box {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.work {
  padding-bottom: 94px;
}
.work__card {
  position: relative;
}
.work__image {
  display: block;
}
.work__class {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__photo {
  display: block;
}
.team__card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 32px;
}
.team__name {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__prof {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: rgb(175, 177, 184);
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer__title {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}

.proj {
  margin: 94px 0;
}
.proj__link {
  text-decoration: none;
  display: block;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.proj__link:hover, .proj__link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.proj__link:hover .proj__text, .proj__link:focus .proj__text {
  transform: translateY(-100%);
  opacity: 1;
}
.proj__image {
  display: block;
}
.proj__box {
  position: relative;
  overflow: hidden;
}
.proj__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.proj__card {
  border: 1px solid rgb(238, 238, 238);
  padding: 20px 24px;
  border-top: none;
}
.proj__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}
.proj__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */