@import"./utils/normalize";
@import"./utils/variables";
@import"./components/hidden";
@import"./components/backdrop";
@import"./components/resed";
@import"./components/container";
@import"./components/btn";
@import"./components/list";
@import"./components/title";
@import"./components/social-contact-link";
@import"./components/modal";
@import "./components/modal-form";
@import"./components/policy";
@import"./components/form-footer";
@import"./section/body";
@import"./section/header";
@import"./section/logo";
@import"./components/mobile-menu";
@import"./section/nav";
@import"./section/contact";
@import"./section/hero";
@import"./section/benefits";
@import"./section/work";
@import"./section/team";
@import"./section/client";
@import"./section/footer";
@import "./section/project";

