@mixin container($display) {
    display:$display;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    @include container(blok);
    &--footer{
        display: block;
        text-align: start;
        &:first-child{
            margin-right: 70px;
        }
        &:last-child{
            margin-left: auto;
            width: calc(50% - 30px);
        }

       
        
    }
         &--footer-flex {
             @include container(flex);
             align-items: baseline;
    
         }
}

