@mixin list($gap){
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: start;
    gap: $gap;
    }

    .client__list{
        @include list(30px);
        flex-wrap: wrap;
        justify-content: center;
    }

    .list{
        @extend .resed;

        @media screen and (min-width:768px) {
            @include list(30px);
            flex-wrap:wrap;
            
        }


        &--btn-proj{
            width: 100%;
            padding: 0 15px;
            @include list (8px);
            margin-bottom: 40px;
            flex-wrap: wrap;
            row-gap: 15px;
            @media screen and (min-width:480px) {
                width: 480px;
                margin-left: auto;
                margin-right: auto;
            }
            @media screen and (min-width:768px) {
                width: 768px;
                justify-content: center;
                
            }
            @media screen and (min-width:1200px) {
                width: 1200px;
            }
        }

        &--wrap{
            @extend .resed;
        }
        // @include list (30px);
            
        &--nav { @include list (50px);
        @extend .resed;}
     
        &--block{
            @extend .resed;
            display: block;
            text-align: center;
            
        }
        &__card--blok:not(:first-child){
            margin-top: 9px;

        }
        // &--btn-proj{
        //     @include list (8px);
        //     justify-content: center;
        //     margin-bottom: 50px;

        // }
        // &--wrap{
        //     @include list (30px);
        //     flex-wrap: wrap;
        // }

        
    }
