.menu{
    margin-left: auto;
    @media screen and (min-width:768px) {
        display: none;
    }
    &__btn{
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        &:hover .menu__icon, &:focus .menu__icon{
            fill: $accent-color;
        }
    }
    &__icon{
        @extend .icon-box;
        fill: currentColor;
    }
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 48px 40px;
        background-color: $bgr-color-primary;
        z-index: 5;
    
        overflow: auto;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;

        @media screen and (min-width:768px) {
            display: none;
        }
        &.is-open {
    transform: translateX(0);
}
& .menu__btn {
     position: absolute;
     top: 16px;
     right: 16px;
     color: currentColor;
 }
    }
    &__flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

    }
    &__list{
        @extend .resed;}
        &__card:not(:last-child){
            margin-bottom: 32px;
        }
    
    &__item {
        @extend .resed;
                color: $text-color-primary;
                font-weight: 500;
                font-size: 40px;
                line-height: calc(47 / 40);
                letter-spacing: 0.02em;
                
                transition: color 250ms $timing-function;
                &:hover, 
                &:focus{
                    color: $accent-color;
    }
    &--active{
        @extend .menu__item;
        color: $accent-color;
    }
}
&__contact {
    // margin-top: 50px;
    margin-bottom: 64px;
    @extend .resed;
}
&__contact-item:not(:last-child){margin-bottom: 32px;}
&__tel{
    @extend .resed;
        font-weight: 500;
    letter-spacing: 0.02em;
        color: $accent-color;  
        font-size: 34px;                
        line-height: calc(40 / 34);

              @media screen and (max-width:390px) {
                font-size: 26px;        

              }  
      

}
&__email{
    @extend .resed;
    font-weight: 500;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;
        color: $text-color-second;
}
&__soc-contact{
    @extend .icon-box;
    @extend .resed;
    gap: 20px;
    flex-wrap: wrap;
}
&__soc-link{
    @extend .resed;
        font-weight: 500;
        font-size: 18px;
        line-height: calc(22 / 18);
    
        letter-spacing: 0.02em;
    
        color: $accent-color;
}
}

