.modal{
    position: relative;
            background-color: $bgr-color-primary;
        color: $text-color-second;
        width: 100%;
        padding: 40px;

        @media screen and (min-width:480px) {
            width: 450px;
            height: 610px;
        }


        @media screen and (min-width:1200px) {
                  width: 528px;
        height: 581px;
  
        }




    
        &__btn{
            position: absolute;
                right: 8px;
                top: 8px;
            
            
               @extend .icon-box;
                padding: 0;
            
                cursor: pointer;
            
                background-color: inherit;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                transition: fill 250ms $timing-function;
                &:hover, &:focus{
                    fill: $accent-color;
                        
                }
        }
       
}