.policy{
    margin-top: 20px;
    margin-bottom: 30px;
    @extend .icon-box;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    @media screen and (min-width:1200px) {
            gap: 9px;
    font-size: 14px;
        line-height: 1.71;

    }
    &__checkbox{
        @extend .visually-hidden;
     &:checked + .policy__check-box {
               border: none;
               background-origin: border-box;
               background-color: $accent-color;
           }
      
        }
           
    &__label{
display: inline-flex;
align-items: center;
justify-content: center;
        cursor: pointer;
        flex-wrap: wrap;
    }
    &__check-box{
        display: flex;
            width: 15px;
            height: 15px;
            margin-right: 8px;
            border: 2px solid $text-color-primary;
    }
    &__check-icon{
        margin: 0%;
            padding: 0%;
            @extend .icon-box;
            fill: $text-color-white;
    }
    &__link{
        margin-left: 1px;
        color: $accent-color;
    }
}

// all