.soc-contact{
                    @include list (10px);

                justify-content: center;

                @media screen and (min-width:1200px) {
                    justify-content: start;
                }
                    &__link{
@extend .icon-box;
    width: 44px;
    height: 44px;
    fill: currentColor;
    color: #afb1b8;
    border-radius: 50%;

    transition: color 250ms $timing-function,
        background-color 250ms $timing-function 250ms;

    &--white {
        @extend .soc-contact__link;
        fill: $text-color-white;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover,
    &:focus {
        color: $text-color-white;
        background-color: $accent-color;
    }
                    }  
       
}

// all