.benefits{
    padding: 60px 0;
    @media screen and (min-width:1200px) {
       padding: 94px 0; 
    }
&__icon-box {
            @extend .icon-box;
            padding: 25px 0;
            margin-bottom: 30px;
            background-color: $bgr-color-second;
            width: 100%;
         }
 &__title{
    @extend .resed;
        margin-bottom: 10px;
        
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
    }
    &__text{
            @extend .resed;
        font-size: 14px;
            line-height: 1.71;
            color: $text-color-second;
    }
    &__card:not(:last-child) {
        margin-bottom: 30px;
        @media screen and (min-width:768px) {
            margin-bottom: 0;
        }}
        &__card{
                @media screen and (min-width:768px) {
                    width: calc(50% - 15px);
        }
        @media screen and (min-width:1200px) {
    width: calc((100% - 90px) / 4);        }
}}

//   all