.client {
  padding: 60px 0;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    color: rgba(175, 177, 184, 1);
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    fill: currentColor;
    transition: color 250ms $timing-function, border 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
      border: 1px solid $accent-color;
    }
  }

  // padding-top: 94px;
  //     padding-bottom: 94px;
  //     &__link{
  //             width: 170px;

  //     }
}
