.hero {
    background-color:$bgr-color-dark;
    color:$text-color-white;

    text-align: center;
    margin: 0 auto;
    padding: 118px 0;
        @include bgr-image ("../images/t-hero.jpg");
            @include retina ("../images/t-hero2x.jpg");
            background-size: cover;


    @media screen and (min-width:768px) {
        @include bgr-image ("../images/t-hero.jpg");
    @include retina ("../images/t-hero2x.jpg");
  background-size: 768px;
    }

    @media screen and (min-width:1200px) {
     padding-top: 200px;
    padding-bottom: 200px;
    @include bgr-image ("../images/hero.jpg");
    @include retina ("../images/hero2x.jpg");
    background-size: 1600px;
    }
}

.hero__title {
@extend .resed;
font-weight: 900;
text-transform: uppercase;
font-size: 26px;
line-height: calc(42 / 26);
letter-spacing: 0.06em;
margin: 0 auto;
margin-bottom: 30px;
max-width: 360px;


@media screen and (min-width:1200px){
   font-size: 44px;
line-height: 1.36; 
    max-width: 700px;
}
            
}
