.proj{
margin: 60px auto;
&__list-item:not(:last-child){
    margin-bottom: 30px;
}

&__link {
            text-decoration: none;
                display: block;
                color: inherit;
                transition: box-shadow 250ms $timing-function;
            }
            
            &__link:hover,
            &__link:focus {
                box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
                    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
            
                & .proj__text {
                    transform: translateY(-100%);
                    opacity: 1;
                }

}

    &__image{
        display: block;
    }
    &__box{
position: relative;
overflow: hidden;
    }
    &__text{
position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    opacity: 0;

    display: flex;
    align-items: center;
    padding: 0 24px;
    margin: 0;

    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: $text-color-white;

    transition: opacity 250ms $timing-function,
        transform 250ms $timing-function;
    }
    &__card{
border: 1px solid rgba(238, 238, 238, 1);
    padding: 20px 24px;
    border-top: none;
    }
    &__name{
        font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            margin: 0;
    }
    &__type{
        color: $text-color-second;
            font-size: 16px;
            line-height: 1.88;
            margin: 0;
            margin-top: 4px;
    }


        //     margin: 94px 0;

}