$bgr-color-primary:#ffffff;
$bgr-color-second:#f5f4fa;
$bgr-color-dark:#2f303a;

$text-color-primary:#212121;
$text-color-second:#757575;
$text-color-white:#ffffff;

$btn-text-color:#ffffff;

$accent-color:#2196f3;

$timing-function:cubic-bezier(0.4, 0, 0.2, 1);

$font-family-primary:"Roboto", sans-serif;
$font-family-second:"Raleway", sans-serif;
